.content-8 {
	padding: 5rem 0;
	h2 {
		margin-top: 2rem;
	}
	.col-feature {
		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-top: 2rem;
		.rounded-circle {
			margin-bottom: 2rem;
			color: $primary-color;
		}
	}
}