.content-28 {
	padding: 5rem 0 3rem 0;
	h3 {
		margin-bottom: 0;
	}
	.col-team {
		padding-top: 2rem;
		padding-bottom: 2rem;
		img {
			margin-bottom: 2rem;
			width: 98%;
			max-width: 8rem;
		}
	}
}