.content-31 {
	padding: 5rem 0;
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-bottom: .2rem;
	}
	.col-team {
		padding-top: 1rem;
		padding-bottom: 1rem;
		img {
			margin: 0;
		}
		@media screen and (max-width: 768px) {
			padding-bottom: 2rem;
		}
	}

}