.content-36 {
	padding: 4rem 0;
	.quote-text {
		font-size: 1.6rem;
		font-weight: 300;
		font-style: italic;
		color: $light-gray;
	}
	.quote-icon {
		color: $light-gray;
	}
	.quote-author {
		font-style: italic;
		font-family: $serif-font;
		color: $dark-gray;
	}
}