.content-19 {
	padding: 5rem 0 4rem 0;
	background: $almost-white;
	.col-pricing-table {
		background: #fff;
		padding: 0;
		padding-bottom: 2rem;
		@include border-radius;
		.plan-header {
			width: 100%;
			background-color: $medium-gray;
			@include border-radius;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			margin: 0;
			padding: 1.4rem .5rem;
		}
		h3.plan-type {
			color: #fff;
			font-weight: 300;
			font-size: 1.4rem;
			margin: 0;
		}
		h2.plan-price {
			color: $dark-gray;
			margin: 0;
			padding: 1rem 0;
			font-weight: 200;
			width: 100%;
			border-bottom: .1rem solid $lighter-gray;
			small {
				font-weight: 200;
				font-size: 1.2rem;
			}
		}
		ul.plan-feature-list {
			list-style: none;
			padding: 1rem 2rem;
			li {
				color: $medium-gray;
				margin: .5rem 0;
			}
		}
		p.emphasis {
			margin: .2rem 0 0 0;
			color: rgba(255, 255, 255, .8);
		}
	}
}