.content-11 {
	padding: 5rem 0;
	h2 {
		margin-top: 2rem;
	}
	.col-feature {
		margin-top: 1rem;
	}
	.col-feature {
		padding-top: 0rem;
		padding-bottom: 0rem;
		em {
			margin-bottom: 1rem;
			color: $primary-color;
		}
	}
}