<section class="content content-14 gallery text-center">
    <div class="container">
        <h2>See our Work</h2>
        <div class="divider"></div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-1.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-2.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-3.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-4.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-5.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
            <div class="col-sm-6 col-md-4 col-gallery">
                <img src="images/placeholder-image-6.jpg" class="img-fluid rounded-corners">
                <h4 class="mt-4">Example Gallery Item</h4>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">More details</a></p>
            </div>
        </div>
    </div>
</section>