<section class="content content-2">
    <div class="container">
        <div class="row justify-center">
            <div class="col-md-6 text-center text-md-left pl-5">
                <h2 class="mb-4 mt-4">Talk about your awesome features</h2>
                <p class="mb-4">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-outline-secondary" href="#" role="button">Find out more	</a></p>
            </div>
            <div class="col-md-6 text-center">
                <img class="mb-4 img-fluid" src="images/placeholder-beats-x.png" >
            </div>
        </div>
    </div>
</section>