<section class="content content-26 gallery text-center">
    <div class="container-fluid">
        <h2>Parralax test</h2>
        <p class="lead constrain-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus. Sed mollis neque at aliquam rhoncus. Donec magna turpis, dictum sit amet tellus at, commodo elementum sapien.</p>
        <div class="divider"></div>
        <div class="row mt-5 no-gutters overflow-hidden" >
            <div class="col-12 text-center">
                <img src="images/placeholder-image-6.jpg" height="400px"/>
            </div>
        </div>
    </div>
</section>