<section class="content content-5">
    <div class="container">
        <h2 class="text-center">Content Block</h2>
        <div class="divider"></div>
        <div class="row justify-center mt-5">
            <div class="col-md-6 pl-5 pr-5 text-center" >
                <img class="mb-4 img-fluid" src="images/placeholder-desk.jpg" >
            </div>
            <div class="col-md-6 text-left" >
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p class="mt-4 mb-4">Integer libero nunc, elementum eu venenatis sed, molestie non tortor. Duis suscipit pulvinar justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec semper purus ex. Curabitur non rutrum libero. Fusce lacus tortor, elementum ac gravida vitae, egestasr.</p>
                
                <p><a class="btn btn-primary mr-2" href="#" role="button">Get Started</a>
                <a class="btn btn-outline-secondary" href="#" role="button">Find out more</a></p>
                
            </div>
        </div>
    </div>
</section>