<section class="content content-29 team-3 text-center alt-background">
    <div class="container">
        <h2>Meet our Team</h2>
        
        <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        
        <div class="row">
            <div class="col-md-4 col-team">
                <div class="box rounded-corners">
                    <img class="rounded-circle" src="images/team-1.jpg" >
                    
                    <h4>Jonathan Smith</h4>
                    
                    <p><span class="emphasis">Designer</span></p>
                    
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    
                    <ul class="social">
                        <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                        <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                        <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                        
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4 col-team">
                <div class="box rounded-corners">
                    <img class="rounded-circle" src="images/team-2.jpg" >
                    
                    <h4>Jane Donovan</h4>
                    
                    <p><span class="emphasis">Designer</span></p>
                    
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    
                    <ul class="social">
                        <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                        <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                        <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                        
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4 col-team">
                <div class="box rounded-corners">
                    <img class="rounded-circle" src="images/team-3.jpg" >
                    
                    <h4>Sam Davidson</h4>
                    
                    <p><span class="emphasis">Designer</span></p>
                    
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    
                    <ul class="social">
                        <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                        <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                        <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                        
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>