<section class="content content-28 team-2 text-center">
    <div class="container">
        <h3 class="mb-3">Meet our Team</h3>
        
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 col-team">
                <div class="box">
                    <img class="rounded-circle" src="images/team-1.jpg" >
                    
                    <h4>Jonathan Smith</h4>
                    
                    <p><span class="emphasis">Designer</span></p>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 col-team">
                <img class="rounded-circle" src="images/team-2.jpg" >
                
                <h4>Jane Donovan</h4>
                
                <p><span class="emphasis">Designer</span></p>
            </div>
            
            <div class="col-md-3 col-sm-6 col-team">
                <img class="rounded-circle" src="images/team-3.jpg" >
                
                <h4>Sam Davidson</h4>
                
                <p><span class="emphasis">Designer</span></p>
            </div>
            
            <div class="col-md-3 col-sm-6 col-team">
                <img class="rounded-circle" src="images/team-4.jpg" >
                
                <h4>Kelly Johnson</h4>
                
                <p><span class="emphasis">Designer</span></p>
            </div>
        </div>
    </div>
</section>