<section class="content-11 text-center">
    <div class="container">
        <div class="row justify-center">
            <div class="col-md-6 text-center">
                <img class="mt-4 mb-4 img-fluid" src="images/placeholder-macbook.png" >
            </div>
            <div class="col-md-6 text-center text-md-left">
                <h2>Features</h2>
                <p class="lead mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus.</p>
                <div class="row">
                    <div class="col-md-6 col-feature">
                        <em class="fa fa-2x fa-desktop"></em>
                        <h4>Responsive</h4>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                    <div class="col-md-6 col-feature">
                        <em class="fa fa-2x fa-pencil"></em>
                        <h4>Easy to Edit</h4>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
                    </div>
                    
                </div>
            </div>	
        </div>
    </div>
</section>