<section class="content content-36 testimonial-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto"><em class="fa fa-5x fa-quote-left mb-3 quote-icon"></em>
                
                <blockquote>
                    <p class="quote-text">'Design' is a word that's come to mean so much that it's also a word that has come to mean nothing.</p>
                    
                    <p><span class="quote-author">Jonathan Ive</span></p>
                </blockquote>
            </div>
        </div>
    </div>
</section>