<section class="content content-13 gallery text-center">
    <div class="container-fluid">
        <h2>See our Work</h2>
        <p class="lead constrain-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus erat sed sem sagittis cursus. Sed mollis neque at aliquam rhoncus. Donec magna turpis, dictum sit amet tellus at, commodo elementum sapien.</p>
        <div class="divider"></div>
        <div class="row mt-5 no-gutters" >
            <div class="col-lg-3 item" style="background-image: url(../images/placeholder-image-2.jpg); height: 400px;">
            </div>
            <div class="col-lg-6 item" style="background-image: url(../images/placeholder-image-6.jpg); height: 400px;">
            </div>
            <div class="col-lg-3 item" style="background-image: url(../images/placeholder-image-4.jpg); height: 400px;">
            </div>
        </div>
    </div>
</section>