<section class="content content-31 team-5 text-center">
    <div class="container">
        <h2 class="mb-3">Meet our Team</h2>
        
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        
        <div class="divider"></div>
        
        <div class="row ">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-8 col-team text-right">
                        <h4>Jonathan Smith</h4>
                        
                        <p><span class="emphasis">Designer</span></p>
                        
                        <p class="mb-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis.</p>
                    </div>
                    
                    <div class="col-4 col-team text-center text-md-right">
                        <img class="rounded-corners img-fluid" src="images/team-1.jpg"  width="180" height="240">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-4 col-team text-center text-md-left">
                        <img class="rounded-corners img-fluid" src="images/team-2.jpg"  width="180" height="240">
                    </div>
                    
                    <div class="col-8 col-team text-left">
                        <h4>Jane Donovan</h4>
                        
                        <p><span class="emphasis">Designer</span></p>
                        
                        <p class="mb-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row ">
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-8 col-team text-right">
                        <h4>Sam Davidson</h4>
                        
                        <p><span class="emphasis">Designer</span></p>
                        
                        <p class="mb-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis.</p>
                    </div>
                    
                    <div class="col-4 col-team text-center text-md-right">
                        <img class="rounded-corners img-fluid" src="images/team-3.jpg"  width="180" height="240">
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="row align-items-center">
                    <div class="col-4 col-team text-center text-md-left">
                        <img class="rounded-corners img-fluid" src="images/team-4.jpg"  width="180" height="240">
                    </div>
                    
                    <div class="col-8 col-team text-left">
                        <h4>Kelly Johnson</h4>
                        
                        <p><span class="emphasis">Designer</span></p>
                        
                        <p class="mb-0">Donec sed odio dui. Etiam porta sem malesuada magna mollis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>