<section class="content content-33 testimonial-2 text-center">
    <div class="container">
        <h3 class="mb-3">What people are saying</h3>
        
        <div class="divider"></div>
        
        <div class="row text-left">
            <div class="col-md-6 col-testimonial">
                <div class="row">
                    <div class="col-3 text-center">
                        <img class="rounded-circle" src="images/team-1.jpg" >
                    </div>
                    
                    <div class="col-9">
                        <p class="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus."</p>
                        
                        <p><span class="quote-author">Jonathan Smith</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-testimonial">
                <div class="row">
                    <div class="col-3 text-center">
                        <img class="rounded-circle" src="images/team-2.jpg" >
                    </div>
                    
                    <div class="col-9">
                        <p class="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus."</p>
                        
                        <p><span class="quote-author">Jane Donovan</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-testimonial">
                <div class="row">
                    <div class="col-3 text-center">
                        <img class="rounded-circle" src="images/team-3.jpg" >
                    </div>
                    
                    <div class="col-9">
                        <p class="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus."</p>
                        
                        <p><span class="quote-author">Sam Davidson</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-testimonial">
                <div class="row">
                    <div class="col-3 text-center">
                        <img class="rounded-circle" src="images/team-4.jpg" >
                    </div>
                    
                    <div class="col-9">
                        <p class="quote-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse cursus."</p>
                        
                        <p><span class="quote-author">Kelly Johnson</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>