.cta-4 {
	background: $background-color url(../images/cover-bg-3.jpg) center;
	background-size: cover;
	color: #fff;
	padding: 5rem 0;
	min-height: 50rem;
	p {
		color: rgba(255, 255, 255, .75);
	}
	.form-control-custom {
		border: none;
		background: rgba(255, 255, 255, .2);
		color: #fff;
	}
	.form-control-custom:focus {
		border: none;
		background: rgba(255, 255, 255, .3);
		color: #fff;
	}
}