<section class="cta cta-2 text-center">
    <div class="container">
        <h3 class="mt-2 mb-4">Sign up now to save 10% on your first order</h3>
        <form class="subscribe">
            <div class="form-group row pt-3">
                <div class="col-sm-8 mb-3">
                    <input type="text" class="form-control-custom" id="inputName" placeholder="Your Name">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-lg btn-outline-success">Sign me up</button>
                </div>
            </div>
        </form>
    </div>
</section>