<section class="cta cta-1 text-center">
    <div class="container">
        <h2>Join us today</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <form class="subscribe">
            <div class="form-group row pt-5 pb-2">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control-custom" id="inputName" placeholder="Your Name">
                </div>
                <div class="col-md-4 mb-3">
                    <input type="email" class="form-control-custom" id="inputEmail" placeholder="Your Email">
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-lg btn-primary">Notify Me</button>
                </div>
            </div>
        </form>
    </div>
</section>