<section class="contact contact-4">
    <div class="container text-center">
        <h2>Contact Us</h2>
        <div class="divider"></div>
        <div class="row contact-details">
            <div class="col-lg-6 text-center">
                <img class="mb-5 img-fluid" src="images/placeholder-team.jpg" >
            </div>
            <div class="col-lg-6 text-center text-lg-left mb-4">
                <p class="lead mt-0 mb-2">Integer libero nunc, elementum eu venenatis sed, molestie non tortor. Duis suscipit pulvinar justo. Orci varius natoque penatibus et magnis dis parturient.</p>
                <h4 class="pt-4">Email</h4>
                <p>hello@landingpage.co</p>
                <h4 class="pt-2">Phone</h4>
                <p>+111 234 567 89</p>
                <h4 class="pt-2">Address</h4>
                <p>1 Street Name, City, Zip Code, United States</p>
                <ul class="social">
                    <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                    <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                    <li><a href="#" title="Dribbble" class="fa fa-dribbble"></a></li>
                    <li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</section>