<footer class="footer footer-4">
    <div class="container">
        <div class="row mb-5 text-center text-md-left">
            <div class="col-md-3 col-lg-4 mb-3">
                <a class="logo" href="#">Landing Page UI Kit</a>
            </div>
            <div class="col-md-3 offset-lg-2 col-lg-2 pt-2">
                <h5>Category 1</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 pt-2">
                <h5>Category 2</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 pt-2">
                <h5>Category 3</h5>
                <ul class="nav-footer">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="divider"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                <p class="copyright">Copyright &copy; YourLanding Page. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-right mb-4">
                <ul class="social">
                    <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                    <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="#" title="Google+" class="fa fa-google"></a></li>
                    <li><a href="#" title="Dribbble" class="fa fa-dribbble"></a></li>
                    <li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>