<footer class="footer footer-1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <ul class="nav-footer mt-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Our Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mt-1 text-center text-md-right">
                <ul class="social">
                    <li><a href="#" title="Facebook" class="fa fa-facebook"></a></li>
                    <li><a href="#" title="Twitter" class="fa fa-twitter"></a></li>
                    <li><a href="#" title="Dribbble" class="fa fa-dribbble"></a></li>
                    <li><a href="#" title="Instagram" class="fa fa-instagram"></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
        <div class="row">
                <div class="col-md-12 text-center text-md-left ">
                        <p class="mt-2 mt-md-0 pl-3 pl-md-1">Copyright &copy; YourLanding Page. All rights reserved.<br>Company Number: 0291339 | VAT Number: 01240-9</p>
                </div>	
        </div>
    </div>
</footer>